/*
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
body {
font-family: 'KoHo', sans-serif;
}

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}

#updateInterval {
    height: calc(1.50rem + 2px);
    border-radius: 15px;
    color: #495057;
    border: 1px solid rgb(42, 136, 165);
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    
}

.card-body{
    display: inline;
    justify-content: center;
    text-align: center;
    padding: 10%;
}

.monitor {
    padding: 8px;
}

h1{
    color: rgb(42, 136, 165);
}


img {
    height: 40px;
    height: 10x;
}